{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.cash_expense_details'|trans([],'treasury') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'cash_expense_details'|trans([],'treasury') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('cash_expense_payment') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'cash_expense_payment'|trans([],'treasury')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
		
		<a href="{{ path('cash_expense_validated') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'cash_expense_validated'|trans([],'treasury')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold"> {{ 'cash_expense_details'|trans([],'treasury')|upper }}</span></h5>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'cost_center'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.costcenter) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'amount'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.amount) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'tva_amount'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.taxamount) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'description'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.description) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'reference'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.refNumber) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'pay_at'|trans([],'treasury') }}
									<span class="text-danger">*</span>
								</label>
								<div class="input-group">
									<span class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-calendar3"></i>
										</span>
									</span>
									{{ form_widget(form.payAt) }}
								</div>
							</div>
						</div>
					</div>
					<div class="text-right">
						<button class="btn btn-primary form-btn" type="submit">
							{{ 'save_payment'|trans([],'base')|upper }}
							<i class="icon-paperplane ml-2"></i>
						</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
