{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title..cost_center_expense'|trans([],'budget') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'cost_center_expence'|trans([],'budget') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('cost_center_expense_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card">
                <table class="table upload table-bordered table-striped table-hover">
                    <thead class="bg-blue">
                    <tr>
                        <th></th>
                        <th>{{ 'code'|trans([],'budget')|upper }}</th>
                        <th>{{ 'title'|trans([],'budget')|upper }}</th>
                        <th>{{ 'account'|trans([],'budget')|upper }}</th>
                        <th></th>
                        <th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for costCenter in costCenters %}
                        <tr>
                            <td></td>
                            <td>
                                {% if not costCenter.isenabled %}
                                    <span class="badge badge-flat border-warning text-warning font-size-xl">{{ costCenter.code }}</span>
                                    <!--<i class="icon-blocked form-icon text-warning-600"></i>-->
                                {% else %}
                                    <span class="badge badge-flat border-success text-success font-size-xl">{{ costCenter.code }}</span>
                                {% endif %}
                                {% if costCenter.hascontrol %}
                                    <span class="badge bg-danger-400 rounded-circle badge-icon"><i class="icon-bell3"></i></span>
                                {% endif %}
                            </td>
                            <td>{{ costCenter.title }}</td>
                            <td>
                                {% if costCenter.account %}
                                    <button type="button" class="btn btn-primary" data-popup="tooltip" title="" data-placement="bottom" data-original-title="{{ costCenter.account.title }}">{{ costCenter.account.number }}</button>
                                {% endif %}
                            </td>
                            <td></td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <a href="{{ path('cost_center_expense_edit', {id:costCenter.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
                                        <i class="icon-pencil7"></i>
                                    </a>
                                    <a href="{{ path('cost_center_expense_delete', {id:costCenter.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
                                        <i class="icon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('global_assets/js/plugins/extensions/jquery_ui/interactions.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
{% endblock %}