{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.priority'|trans([],'setting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_sidebar_user_menu %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'priority'|trans([],'setting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('priority') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'priority_list'|trans([],'setting')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Basic layout-->

            <div class="card border-blue">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label>{{ 'code'|trans([],'setting') }}<span class="text-danger">*</span></label>
                        {{ form_widget(form.code) }}
                        <span class="text-danger">{{ form_errors(form.code) }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ 'level'|trans([],'setting') }}</label>
                        {{ form_widget(form.level) }}
                        <span class="text-danger">{{ form_errors(form.level) }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ 'description'|trans([],'setting') }}</label>
                        {{ form_widget(form.description) }}
                        <span class="text-danger">{{ form_errors(form.description) }}</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
                        <div>
                            {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}

						    <button class="btn btn-primary form-btn" type="submit">
							    {{ 'save'|trans([],'base')|upper }}
							    <i class="icon-paperplane ml-2"></i>
						    </button>
                        </div>
					</div>
                    {{ form_end(form) }}
            </div>

            <!-- /basic layout -->
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
