{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.log'|trans([],'transit') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'log_list'|trans([],'transit') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('log_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card form-header">
                <table class="table datatable-responsive table-bordered table-striped table-hover">
                    <thead class="bg-blue">
                        <tr>
                            <th>{{ 'transit'|trans([],'transit')|upper }}</th>
							<th>{{ 'log_number'|trans([],'transit')|upper }}</th>
							<th>{{ 'inter_log_number'|trans([],'transit')|upper }}</th>
                            <th>{{ 'wood'|trans([],'transit')|upper }}</th>
                            <th>{{ 'gb'|trans([],'transit')|upper }}</th>
                            <th>{{ 'pb'|trans([],'transit')|upper }}</th>
                            <th>{{ 'dm'|trans([],'transit')|upper }}</th>
                            <th>{{ 'length'|trans([],'transit')|upper }}</th>
                            <th>{{ 'volume'|trans([],'transit')|upper }}</th>
                            <th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                                <td><span class="badge badge-flat border-danger text-danger">{{ log.transit is empty ? "" : log.transit.reference }}</td>
								<td><span class="badge badge-flat border-success text-success">{{ log.reference }}</td>
								<td><span class="badge badge-flat border-success text-success">{{ log.internum }}</td>
                                <td>{{ log.wood.name }}</td>
                                <td>{{ log.gb }}</td>
                                <td>{{ log.pb }}</td>
                                <td>{{ log.dm }}</td>
                                <td>{{ log.length }}</td>
                                <td>{{ log.volume }}</td>
                                <td class="text-center">
                                    <div class="list-icons">
                                        <a href="{{ path('log_edit', {id:log.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                        <a href="{{ path('log_delete', {id:log.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('global_assets/js/plugins/extensions/jquery_ui/interactions.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/switch.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
{% endblock %}
