{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.accounting_entries'|trans([],'accounting') }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'accounting_entries'|trans([],'accounting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('piece') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'accounting_entries_list'|trans([],'accounting')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}
    
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
					<div class="header-elements">
						<div class="list-icons">
							<a class="list-icons-item" data-action="collapse"></a>
						</div>
					</div>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'branch'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.branch) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'year'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.year) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'doing_at'|trans([],'transit') }}
									<span class="text-danger">*</span>
								</label>
								<div class="input-group">
									<span class="input-group-prepend">
										<span class="input-group-text">
											<i class="icon-calendar3"></i>
										</span>
									</span>
									{{ form_widget(form.doingAt) }}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'journal'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.journal) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'account_db'|trans([],'accounting') }}
								</label>
								{{ form_widget(form.accountDb) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'account_cr'|trans([],'accounting') }}
								</label>
								{{ form_widget(form.accountCr) }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'amount'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.amount) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'description'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.description) }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>
									{{ 'reference'|trans([],'accounting') }}
									<span class="text-danger">*</span>
								</label>
								{{ form_widget(form.reference) }}
							</div>
						</div>
					</div>
					
					<div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
						<div>
							{{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
							<button class="btn btn-primary form-btn" type="submit">
								{{ 'save'|trans([],'base')|upper }}
								<i class="icon-paperplane ml-2"></i>
							</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
