{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.wood'|trans([],'transit') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'wood'|trans([],'transit') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('wood') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'wood_list'|trans([],'transit')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    
	 <div class="row">
		<div class="col-md-6">
			<!-- Basic layout-->
			{{ form_start(form) }}
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label>
							{{ 'code'|trans([],'transit') }}
							<span class="text-danger">*</span>
						</label>
						{{ form_widget(form.code) }}
						<span class="text-danger">
							{{ form_errors(form.code) }}</span>
					</div>
					<div class="form-group">
						<label>
							{{ 'name'|trans([],'transit') }}
							<span class="text-danger">*</span>
						</label>
						{{ form_widget(form.name) }}
						<span class="text-danger">
							{{ form_errors(form.name) }}</span>
					</div>
					<div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
						</button>
						<div>
							{{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
							<button class="btn btn-primary form-btn" type="submit">
								{{ 'save'|trans([],'base')|upper }}
								<i class="icon-paperplane ml-2"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			{{ form_end(form) }}
			<!-- /basic layout -->
		</div>
		 {#
		 	<div class="col-md-8">
			<!-- HTML sourced data -->
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold"> {{ 'wood_list'|trans([],'transit')|upper }}</span></h5>
				</div>
				<table class="table park table-bordered table-striped table-hover">
					<thead class="bg-blue">
						<tr>
							<th></th>
							<th>{{ 'code'|trans([],'transit') }}</th>
							<th>{{ 'name'|trans([],'transit') }}</th>
							<th></th>
							<th></th>
							<th class="text-center">{{ 'actions'|trans([],'base') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for wood in woods %}
							<tr>
								<td>{{ wood.id }}</td>
								<td>{{ wood.code }}</td>
								<td>{{ wood.name }}</td>
								<td></td>
								<td></td>
								<td class="text-center">
									<div class="list-icons">
										<a href="{{ path('wood_edit', {id:wood.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
											<i class="icon-pencil7"></i>
										</a>
										<a href="{{ path('wood_delete', {id:wood.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
											<i class="icon-trash"></i>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /HTML sourced data -->
		</div>
		 #}

	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
