	<li class="nav-item dropdown dropdown-user">
		{% if app.user %}
			<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" style="color:#fff !important;">
				<i class="icon-user icon-2x"></i>
			</a>
		{% endif %}
		
		<div class="dropdown-menu dropdown-menu-right">
			{% if app.user %} 
				<a href="#" class="dropdown-item"><i class="icon-user-check"></i> {{ app.user.fullname }}</a>
				<div class="dropdown-divider"></div>
				<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> {{ 'profile'|trans([],'base') }}</a>
				<a href="{{ path('user_password_update') }}" class="dropdown-item"><i class="icon-lock2"></i> {{ 'password'|trans([],'base') }}</a>
				<div class="dropdown-divider"></div>
				<a href="{{ path('account_setting') }}" class="dropdown-item"><i class="icon-cog5"></i> {{ 'account_setting'|trans([],'base') }}</a>
				<a href="{{ path('starTop_logout') }}" class="dropdown-item"><i class="icon-switch2"></i> {{ 'logout'|trans([],'base') }}</a> 
			{% endif %}
		</div>
	</li>