{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.component'|trans([],'system') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'component'|trans([],'system') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('component_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}
	
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<!-- HTML sourced data -->
			<div class="card">
				<table class="table datatable-responsive table-bordered table-striped table-hover">
					<thead class="bg-blue">
						<tr>
							<th>{{ 'name'|trans([],'system') }}</th>
							<th>{{ 'icon'|trans([],'system') }}</th>
							<th>{{ 'route'|trans([],'system') }}</th>
							<th>{{ 'name_en'|trans([],'system') }}</th>
							<th>{{ 'name_fr'|trans([],'system') }}</th>
							<th class="text-center">{{ 'actions'|trans([],'base') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for component in components %}
							<tr>
								<td><span class="badge badge-info">[ {{ component.position }} ] {{ component.name }}</td>
								<td>{{ component.icon }}</td>
								<td>
									{% if not component.isenabled %}
										<span class="badge badge-flat border-danger text-danger"> 
									{% else %}
										<span class="badge badge-flat border-success text-success"> 
									{% endif %}
									{{ component.route }}
								</td>
								<td>{{ component.nameEn }}</td>
								<td>{{ component.nameFr }}</td>
								<td class="text-center">
									<div class="list-icons">
										<a href="{{ path('component_edit', {id:component.id}) }}" class="list-icons-item form-icon text-primary-600" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body">
											<i class="icon-pencil7"></i>
										</a>
										<a href="{{ path('component_delete', {id:component.id}) }}" class="list-icons-item form-icon text-danger-600" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
											<i class="icon-trash"></i>
										</a>
										{% if not component.isenabled %}
											<a href="{{ path('component_enable', {id:component.id}) }}" class="list-icons-item text-success-600" data-popup="tooltip" title="{{ 'enable'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
												<i class="icon-checkmark"></i>
											</a>
										{% else %}
											<a href="{{ path('component_block', {id:component.id}) }}" class="list-icons-item text-danger-600" data-popup="tooltip" title="{{ 'block'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
												<i class="icon-blocked"></i>
											</a>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /HTML sourced data -->
		</div>
	</div>
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
{% endblock %}
