{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.plumb_container'|trans([],'transit') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'unfill_container_list'|trans([],'transit') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('container') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'container_list'|trans([],'transit')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
		<a href="{{ path('batch') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'booking_list'|trans([],'transit')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card">
				
                <div class="card-body">
                    <table class="table upload table-bordered table-striped table-hover">
                        <thead class="bg-blue">
                            <tr>
                                <th></th>
                                <th>{{ 'booking_number'|trans([],'transit')|upper }}</th>
                                <th>{{ 'container_number'|trans([],'transit')|upper }}</th>
                                <th>{{ 'container_length'|trans([],'transit')|upper }}</th>
                                <th></th>
                                <th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for container in containers %}
                                <tr>
                                    <td></td>
                                    <td><span class="badge badge-flat border-success text-success">{{ container.batch.reference }}</td>
                                    <td><span class="badge badge-flat border-warning text-warning">{{ container.reference }}</td>
                                    <td><span class="badge badge-flat border-danger text-danger">{{ container.length.code }}</td>
                                    <td></td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <a href="{{ path('plumb_container', {id:container.id}) }}" class="list-icons-item text-primary-600" data-popup="tooltip" title="{{ 'seal_a_container'|trans([],'transit') }}" data-container="body">
                                                <i class="icon-rotate-ccw3"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
