{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.country'|trans([],'setting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_sidebar_user_menu %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'country'|trans([],'setting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('country') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <!-- Basic layout-->
            {{ form_start(form) }}
            <div class="card border-blue">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>

                <div class="card-body">
                    <div class="form-group">
                        <label>{{ 'name'|trans([],'setting') }} <span class="text-danger">*</span></label>
                            {{ form_widget(form.name) }}
                        <span class="text-danger"> {{ form_errors(form.name) }}</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'code(2)'|trans([],'setting') }}</label>
                                <div class="col-lg-13">
                                {{ form_widget(form.code_2) }}
                                    <span class="text-danger"> {{ form_errors(form.code_2) }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'code(3)'|trans([],'setting') }}</label>
                                <div class="col-lg-13">
                                    {{ form_widget(form.code_3) }}
                                    <span class="text-danger"> {{ form_errors(form.code_3) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
						<button class="btn btn-primary form-btn" type="submit">
							{{ 'save'|trans([],'base')|upper }}
							<i class="icon-paperplane ml-2"></i>
						</button>
					</div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- /basic layout -->
        </div>

        <div class="col-md-8">
            <!-- HTML sourced data -->
            <div class="card border-blue">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold"> {{ 'list_of_countries'|trans([],'setting')|upper }}</span></h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a href="{{ path('country') }}" class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <!-- <div class="card-body"></div> -->

                <div class="card-body">
                <table class="table upload table-bordered table-striped table-hover" id="region">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'name'|trans([],'setting') }}</th>
                        <th>{{ 'code(2)'|trans([],'setting') }}</th>
                        <th>{{ 'code(3)'|trans([],'setting') }}</th>
                        <th></th>
                        <th class="text-center">{{ 'actions'|trans([],'base') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for country in countries %}
                        <tr>
                            <td></td>
                            <td><span class="badge badge-info">{{ country.name }}</td>
                            <td>{{ country.code2 }}</td>
                            <td>{{ country.code3 }}</td>
                            <td></td>
							<td class="text-center">
								<div class="list-icons">
									<a href="{{ path('country_edit', {id:country.id}) }}" class="list-icons-item form-icon text-primary-600" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body">
										<i class="icon-pencil7"></i>
									</a>
									<a href="{{ path('country_delete', {id:country.id}) }}" class="list-icons-item text-danger-600" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
										<i class="icon-trash"></i>
									</a>
								</div>
							</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            <!-- /HTML sourced data -->
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
