{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.log_routing'|trans([],'transit') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'log_tracking'|trans([],'transit') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('log_routing') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'log_tracking_list'|trans([],'transit')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
					<div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                        </div>
                    </div>
				</div>

                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'log_number'|trans([],'transit') }}
                                    <span class="text-danger">*</span></label>
                                {{ form_widget(form.logreferences) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'consignment_note'|trans([],'transit') }}</label>
                                {{ form_widget(form.consignment_note) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'source'|trans([],'transit') }}
                                    <span class="text-danger">*</span></label>
                                {{ form_widget(form.source) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'destination'|trans([],'transit') }}
                                    <span class="text-danger">*</span></label>
                                {{ form_widget(form.destination) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'date'|trans([],'transit') }}
                                    <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-calendar3"></i>
                                        </span>
                                    </span>
                                    {{ form_widget(form.routingAt) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button type="reset" class="btn btn-light">
                            {{ 'cancel'|trans([],'base')|upper }}
                        </button>
						<div>
							{{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
							<button class="btn btn-primary form-btn" type="submit">
								{{ 'save'|trans([],'base')|upper }}
								<i class="icon-paperplane ml-2"></i>
							</button>
						</div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

    {#
         <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card form-header">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold"> {{ 'log_routing_list'|trans([],'transit')|upper }}</span></h5>
				</div>

                <table class="table datatable-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'references'|trans([],'transit') }}</th>
                            <th>{{ 'consignment_note'|trans([],'transit') }}</th>
                            <th>{{ 'routing_at'|trans([],'transit') }}</th>
                            <th>{{ 'source'|trans([],'transit') }}</th>
                            <th>{{ 'destination'|trans([],'transit') }}</th>
                            <th class="text-center">{{ 'actions'|trans([],'base') }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for logRouting in logRoutings %}
                            <tr>
                                <td>
									{% if not logRouting.logreferences.empty %}
										{% for logreference in logRouting.logreferences %}
											<a href="#" class="badge badge-info">{{ logreference.reference }}</a>
											{% if not loop.last %} {% endif %}
										{% endfor %}
									{% endif %}
								</td>
                                <td>{{ logRouting.consignmentnote }}</td>
                                <td>{{ logRouting.routingAt is empty ? "" : logRouting.routingAt|date("m/d/Y") }}</td>
                                <td>{{ logRouting.source.name }}</td>
                                <td>{{ logRouting.destination.name }}</td>
                                <td class="text-center">
                                    <div class="list-icons">
                                        <a href="{{ path('log_routing_edit', {id:logRouting.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                        <a href="{{ path('log_routing_delete', {id:logRouting.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>
    #}

   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
	<script src="{{ asset('global_assets/js/demo_pages/form_multiselect.js') }}"></script>
{% endblock %}
