{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.upload_file'|trans([],'transit') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'upload_file_list'|trans([],'transit') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('upload_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
		<a href="{{ path('transit_expense_show') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'transit_expense_list'|trans([],'transit')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
   <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card">

                <table class="table upload table-bordered table-striped table-hover">
                    <thead class="bg-blue">
                        <tr>
                            <th></th>
                            <th>{{ 'date'|trans([],'transit')|upper }}</th>
                            <th>{{ 'transit_number'|trans([],'transit')|upper }}</th>
                            <th>{{ 'document'|trans([],'transit')|upper }}</th>
                            <th></th>
                            <th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for attachDocument in attachDocuments %}
                            <tr>
                                <td></td>
                                <td><span class="badge badge-flat border-success text-success">{{ attachDocument.createdAt is empty ? "" : attachDocument.createdAt|date("m/d/Y") }}</td>
                                <td><span class="badge badge-flat border-success text-success">{{ attachDocument.transit.reference }}</td>
                                <td><span class="badge badge-flat border-danger text-danger">{{ attachDocument.document.code }}</td>
                                <td></td>
                                <td class="text-center">
                                    <div class="list-icons">
                                        <a href="{{ asset('uploads/documents/' ~ attachDocument.fileupload) }}" data-popup="tooltip" title="{{ 'donwload'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600" target="_blank">
                                            <i class="icon-file-download"></i>
                                        </a>
                                        <a href="{{ path('upload_edit', {id:attachDocument.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                        <a href="{{ path('upload_delete', {id:attachDocument.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
                                            <i class="icon-trash"></i>
                                        </a>
										
										<a href="{{ path('transit_expense', {transit:attachDocument.transit.id, document:attachDocument.document.id}) }}" data-popup="tooltip" title="{{ 'add_expense'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
                                            <i class="icon-paypal2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /HTML sourced data -->
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
