{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.year'|trans([],'setting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_sidebar_user_menu %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'year'|trans([],'setting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('year') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'list_of_year'|trans([],'setting')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">

            <div class="card border-blue">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>

                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="form-group">
                        <label>{{ 'start_at'|trans([],'setting') }} <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-calendar3"></i>
                                </span>
                            </span>
                            {{ form_widget(form.startAt) }} <span class="text-danger">{{ form_errors(form.startAt) }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'end_at'|trans([],'setting') }} <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-calendar3"></i>
                                </span>
                            </span>
                            {{ form_widget(form.endAt) }} <span class="text-danger">{{ form_errors(form.endAt) }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'is_open'|trans([],'setting') }} <span class="text-danger">*</span></label>
                                {{ form_widget(form.is_open) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'is_current'|trans([],'setting') }}</label>
                                {{ form_widget(form.is_current) }}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
                        <div>
                            {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
						<button class="btn btn-primary form-btn" type="submit">
							{{ 'save'|trans([],'base')|upper }}
							<i class="icon-paperplane ml-2"></i>
						</button>
                        </div>
					</div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
{% endblock %}
