{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.city'|trans([],'setting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_sidebar_user_menu %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'city'|trans([],'global') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('city_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}

<div class="row">
        <div class="col-md-8">

                <!-- HTML sourced data -->
                <div class="card border-blue">
                    <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
                        <h5 class="card-title"><span class="font-weight-bold"> {{ 'city_list'|trans([],'setting')|upper }}</span></h5>
                    </div>
        
            <div class="card-body">
                <table class="table park table-bordered table-striped table-hover" id="region">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'name'|trans([],'global') }}</th>
                        <th>{{ 'code'|trans([],'global') }}</th>
                        <th></th>
                        <th></th>
                        <th class="text-center">{{ 'actions'|trans([],'global') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for city in cities %}
                        <tr>
                            <td></td>
                            <td><span class="badge badge-info"></span>{{ city.code }}</td>
                            <td>{{ city.name }}</td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <a href="{{ path('city_edit', {id:city.id}) }}" data-popup="tooltip-custom" title="Modify" data-placement="left" id="left" class="list-icons-item text-primary-600"><i class="icon-pencil7"></i></a>
                                    <a href="{{ path('city_delete', {id:city.id}) }}" data-popup="tooltip-custom" title="Delete" data-placement="top" onclick="return confirm('are u sure?')" class="list-icons-item text-danger-600"><i class="icon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <!-- /HTML sourced data -->
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}