{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.cart_order_list'|trans([],'purchase') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'cart_order'|trans([],'purchase') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('sale_order_cart', {id:commande.id}) }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'cart_order_list'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <!-- Basic layout-->

            <div class="card">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
                    <h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>{{ 'article'|trans([],'purchase') }} <span class="text-danger">*</span> </label>
                                {{ form_widget(form.article) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>{{ 'quantity'|trans([],'purchase') }} <span class="text-danger">*</span> </label>
                                {{ form_widget(form.quantity) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>{{ 'pu'|trans([],'purchase') }} </label>
                                {{ form_widget(form.pu) }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>{{ 'pt'|trans([],'purchase') }} </label>
                                {{ form_widget(form.pt) }}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-light" type="reset">
                            {{ 'cancel'|trans([],'base')|upper }}
                        </button>
                        <div>
                            {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
                            <button class="btn btn-primary form-btn" type="submit">
                                {{ 'save'|trans([],'base')|upper }}
                                <i class="icon-paperplane ml-2"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <!-- /basic layout -->
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
