{% extends 'base.html.twig' %}

{% block title %}{{ 'title.supply_request_list'|trans([],'purchase') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'title.supply_request_list'|trans([],'purchase') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('supply_request_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <!-- HTML sourced data -->
            <div class="card">
                    <table class="table datatable-responsive table-bordered table-striped table-hover">
                        <thead class="bg-blue">
                        <tr>
                            <th>{{ 'th.reference'|trans([],'purchase')|upper }}</th>
                            <th>{{ 'applicant'|trans ([],'purchase')|upper }}</th>
                            <th>{{ 'service'|trans ([],'purchase')|upper }}</th>
                            <th>{{ 'th.date'|trans([],'purchase')|upper }}</th>
                            <th>{{ 'status'|trans ([],'purchase')|upper }}</th>
                            <th class="text-center">{{ 'th.actions'|trans([],'purchase') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for supplyRequest in suppliesRequest %}
                            <tr>
                                <td>{{ supplyRequest.reference }}</td>
                                <td>{{ supplyRequest.applicant }}</td>
                                <td>{{ supplyRequest.service.code }}</td>
                                <td>{{ supplyRequest.date is empty ? "" : supplyRequest.date|date("m/d/Y") }}</td>
                                {% if supplyRequest.isvalid is null %}
                                    <td><span class="badge badge-flat border-info text-info-600">{{ 'in_progress'|trans([],'purchase') }}</span></td>
                                {% elseif supplyRequest.isvalid == 1 %}
                                    <td><span class="badge badge-flat border-success text-success-600">{{ 'validated'|trans([],'purchase') }}</span></td>
                                {% else %}
                                    <td><span class="badge badge-flat border-warning text-warning-600">{{ 'rejected'|trans([],'purchase') }}</td>
                                {% endif %}
                                <td class="text-center">
                                    <div class="list-icons">

                                        {% if supplyRequest.isvalid is null %}
                                            <a href="{{ path('supply_request_edit', {id:supplyRequest.id}) }}" class="col-lg-2"><i class="icon-pencil7 text-primary-600"></i></a>
                                            <a href="{{ path('supply_request_delete', {id:supplyRequest.id}) }}"  onclick="return confirm('are u sure?')" class="col-lg-2"><i class="icon-trash text-danger-600"></i></a>
                                            <a href="{{ path('supply_request_valid', {id:supplyRequest.id}) }}" onclick="return confirm('do you want to validate?')" class="col-lg-2"> <i class="icon-checkmark4 text-success-600"></i></a>
                                            <a href="{{ path('supply_request_reject', {id:supplyRequest.id}) }}" onclick="return confirm('do you want to reject?')" class="col-lg-2"> <i class="icon-blocked text-warning-600"></i></a>
                                            {#<a href="{{ path('supply_quotation_cart', {id:supplyRequest.id}) }}" class="col-lg-2"> <i class="icon-link text-primary-600"></i></a>#}
                                        {% elseif supplyRequest.isvalid == 1 %}
                                            <a href="{{ path('supply_request_cart', {id:supplyRequest.id}) }}" class="col-lg-2"> <i class="icon-cart-add text-info-600"></i></a>
                                            <a href="{{ path('supply_request_reverse', {id:supplyRequest.id}) }}" onclick="return confirm('do you want to reverse?')" class="col-lg-2"> <i class="icon-reset text-success-600"></i></a>
                                        {% else %}
                                            <a href="{{ path('supply_request_delete', {id:supplyRequest.id}) }}"  onclick="return confirm('are u sure?')" class="col-lg-2"><i class="icon-trash text-danger-600"></i></a>
                                            <a href="{{ path('supply_request_reverse', {id:supplyRequest.id}) }}" onclick="return confirm('do you want to reverse?')" class="col-lg-2"> <i class="icon-reset text-success-600"></i></a>
                                        {% endif %}

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
            <!-- /HTML sourced data -->

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
