{% extends 'base.html.twig' %}

{% block title %} ZoZoo - Quotation Article{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="{{ path('home') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> {{ 'dashboard'|trans([],'setting') }}</a>
                <span class="breadcrumb-item active"> {{ 'supply request article'|trans([],'setting') }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainbtn %}
    <div class="text-center">
        <a href="{{ path('quotation_article') }}" class="btn btn-primary btn-labeled btn-labeled-left btn-lg"><b><i class="icon-pin-alt"></i></b> {{ 'a.quotation_article_list'|trans([],'setting') }}</a>
        <a href="{{ path('quotation') }}" class="btn btn-primary btn-labeled btn-labeled-left btn-lg"><b><i class="icon-menu7"></i></b> {{ 'a.quotation_list'|trans([],'setting') }}</a>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert bg-{{ label }} text-white alert-styled-left alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                <span class="font-weight-semibold">{{ 'span.well_done'|trans([],'setting') }}</span> {{ message }}.
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-3">
            <!-- Basic layout-->

            <div class="card border-teal-400">
                <div class="card-header bg-teal-400 text-white header-elements-inline">
                    <h5 class="card-title">{{ 'title.form'|trans([],'purchase') }}</h5>
                </div>

                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="form-group">
                        <label>{{ 'article'|trans([],'purchase') }} <span class="text-danger">*</span> </label>
                        {{ form_widget(form.article) }}
                    </div>

                    <div class="form-group">
                        <label>{{ 'quantity'|trans([],'purchase') }} <span class="text-danger">*</span> </label>
                        {{ form_widget(form.quantity) }}
                    </div>


                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            {{ 'save'|trans([],'purchase') }}
                            <i class="icon-paperplane ml-2"></i>
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <!-- /basic layout -->
        </div>

        <div class="col-md-9">

            <!-- HTML sourced data -->
            <div class="card border-teal-400">
                <div class="card-header bg-teal-400 text-white header-elements-inline">
                    <h5 class="card-title">{{ 'title.supply_request_article_list'|trans([],'setting') }}</h5>
                </div>

                <div class="card-body">
                    <table class="table datatable-responsive table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ '#'|trans([],'article')|upper }}</th>
                            <th>{{ 'th.reference'|trans([],'article')|upper }}</th>
                            <th>{{ 'th.article'|trans([],'article')|upper }}</th>
                            <th>{{ 'th.quantity'|trans ([],'article')|upper }}</th>
                            <th></th>
                            <th class="text-center">{{ 'th.actions'|trans([],'setting') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for quotationArticle in quotationArticles %}
                            <tr>
                                <td>{{ quotationArticle.id }}</td>
                                <td>{{ quotationArticle.quotation.reference }}</td>
                                <td>{{ quotationArticle.article.reference }}</td>
                                <td>{{ quotationArticle.quantity }}</td>
                                <td></td>
                                <td class="text-center">
                                    <div class="list-icons">

                                        {#{% if supplyRequestArticle.isvalid is null %}#}
                                            <a href="{{ path('quotation_article_edit', {id:quotationArticle.id}) }}" class="col-lg-2"><i class="icon-pencil7 text-primary-600"></i></a>
                                            <a href="{{ path('quotation_article_delete', {id:quotationArticle.id}) }}"  onclick="return confirm('are u sure?')" class="col-lg-2"><i class="icon-trash text-danger-600"></i></a>
                                            {#<a href="{{ path('quotation_article_valid', {id:supplyRequestArticle.id}) }}" onclick="return confirm('do you want to validate?')" class="col-lg-2"> <i class="icon-checkmark4 text-success-600"></i></a>
                                            <a href="{{ path('quotation_article_reject', {id:supplyRequestArticle.id}) }}" onclick="return confirm('do you want to reject?')" class="col-lg-2"> <i class="icon-blocked text-warning-600"></i></a>
                                        {% elseif quotationArticle.isvalid == 1 %}
                                            <a href="{{ path('quotation_article', {id:quotationArticle.id}) }}" class="col-lg-2"> <i class="icon-cart-add text-info-600"></i></a>
                                        {% else %}
                                            <a href="{{ path('quotation_article_valid', {id:quotationArticle.id}) }}" onclick="return confirm('do you want to validate?')" class="col-lg-2"> <i class="icon-checkmark4 text-success-600"></i></a>
                                        {% endif %}#}

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /HTML sourced data -->

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('global_assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/tables/datatables/extensions/responsive.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/demo_pages/datatables_responsive.js') }}"></script>


{% endblock %}
