{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.cart_order_list'|trans([],'purchase') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'cart_order_list'|trans([],'purchase') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('order_cart_new', {id:commande.id}) }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-9">
        <div class="card">
            <table class="table conrouting table-bordered table-striped table-hover">
                <thead class="bg-blue">
                    <tr>
                        <th>{{ 'th.reference'|trans([],'purchase')|upper }}</th>
                        <th>{{ 'th.article'|trans([],'purchase')|upper }}</th>
                        <th>{{ 'th.quantity'|trans ([],'purchase')|upper }}</th>
                        <th>{{ 'pu'|trans([],'purchase')|upper }}</th>
                        <th>{{ 'pt'|trans([],'purchase')|upper }}</th>
                        <th class="text-center">{{ 'th.actions'|trans([],'purchase') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orderarticle in orderArticles %}
                        <tr>
                            {% if orderarticle.isvalid is null %}
                                <td><span class="badge badge-flat border-info text-info-600">{{ orderarticle.commande.reference }}</span></td>
                            {% elseif orderarticle.isvalid == 1 %}
                                <td><span class="badge badge-flat border-success text-success-600">{{ orderarticle.commande.reference }}</span></td>
                            {% else %}
                                <td><span class="badge badge-flat border-warning text-warning-600">{{ orderarticle.commande.reference }}</span></td>
                            {% endif %}
                            <td>{{ orderarticle.article }}</td>
                            <td>{{ orderarticle.quantity }}</td>
                            <td>{{ orderarticle.pu }}</td>
                            <td>{{ orderarticle.pt }}</td>


                            <td class="text-center">
                                <div class="list-icons">
                                    {% if orderarticle.isvalid is null %}
                                        {#<a href="{{ path('order_cart', {id:orderarticle.id}) }}" class="col-lg-2"> <i class="icon-cart-add text-info-600"></i></a>#}
                                        <a href="{{ path('order_cart_valid', {id:orderarticle.id}) }}" onclick="return confirm('do you want to validate?')" class="col-lg-2"> <i class="icon-checkmark4 text-success-600"></i></a>
                                        <a href="{{ path('order_cart_edit', {id:orderarticle.id}) }}" class="col-lg-2"><i class="icon-pencil7 text-primary-600"></i></a>
                                        <a href="{{ path('order_cart_delete', {id:orderarticle.id}) }}"  onclick="return confirm('are u sure?')" class="col-lg-2"><i class="icon-trash text-danger-600"></i></a>
                                        <a href="{{ path('order_cart_reject', {id:orderarticle.id}) }}" onclick="return confirm('do you want to reject?')" class="col-lg-2"> <i class="icon-blocked text-warning-600"></i></a>
                                    {% elseif orderarticle.isvalid == 1 %}
                                        <a href="{{ path('order_cart_edit', {id:orderarticle.id}) }}" class="col-lg-2"><i class="icon-pencil7 text-primary-600"></i></a>
                                        <a href="{{ path('order_cart_reverse', {id:orderarticle.id}) }}" onclick="return confirm('do you want to reverse?')" class="col-lg-2"><i class="icon-reset text-success-600"></i></a>
                                    {% else %}
                                        <a href="{{ path('order_cart_delete', {id:orderarticle.id}) }}"  onclick="return confirm('are u sure?')" class="col-lg-2"><i class="icon-trash text-danger-600"></i></a>
                                        <a href="{{ path('order_cart_reverse', {id:orderarticle.id}) }}" onclick="return confirm('do you want to reverse?')" class="col-lg-2"> <i class="icon-reset text-success-600"></i></a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}