{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.account_validation'|trans([],'accounting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_sidebar_user_menu %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'account_validation'|trans([],'accounting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block content %}
	<div class="row">
		<div
			class="col-md-4">
			<!-- Basic layout-->
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold"> {{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					<div class="form-group">
						<label>
							{{ 'number'|trans([],'accounting') }}
							<span class="text-danger">*</span>
						</label>
						{{ form_widget(form.number) }}
						<span class="text-danger">{{ form_errors(form.number) }}</span>
					</div>
					<div class="form-group">
						<label>
							{{ 'title'|trans([],'accounting') }}
							<span class="text-danger">*</span>
						</label>
						{{ form_widget(form.title) }}
						<span class="text-danger">{{ form_errors(form.title) }}</span>
					</div>
					<div class="text-right">
						<button class="btn btn-primary form-btn" type="submit">
							{{ 'save'|trans([],'base')|upper }}
							<i class="icon-paperplane ml-2"></i>
						</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			<!-- /basic layout -->
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
