{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.accounting_plan'|trans([],'accounting') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'accounting_plan'|trans([],'accounting') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
		<div class="col-md-12">
			<!-- HTML sourced data -->
			<div class="card">
				<div class="card-body">
					<table class="table park table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th></th>
								<th>{{ 'code'|trans([],'accounting')|upper }}</th>
								<th>{{ 'title'|trans([],'accounting')|upper }}</th>
								<th></th>
								<th></th>
								<th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
							</tr>
						</thead>
						<tbody>
							{% for account in accounts %}
								<tr>
									<td></td>
									<td><span class="badge badge-flat border-success text-success font-size-xl">{{ account.number }}</td>
									<td>{{ account.title }}</td>
									<td></td>
									<td></td>
									<td class="text-center">
										<div class="list-icons">
											{% if account.islock == 1 %}
												<a href="{{ path('account_unlock', {id:account.id}) }}" class="list-icons-item text-danger-600" data-popup="tooltip" title="{{ 'unlock'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
													<i class="icon-lock2"></i>
												</a>
												{% else %}
												<a href="{{ path('account_lock', {id:account.id}) }}" class="list-icons-item text-primary-600" data-popup="tooltip" title="{{ 'lock'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
													<i class="icon-unlocked2"></i>
												</a>
											{% endif %}
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- /HTML sourced data -->
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
