{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.cash_desk'|trans([],'treasury') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'cash_desk'|trans([],'treasury') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('cash_desk') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'cash_desk_list'|trans([],'treasury')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    
	<div class="row">
        <div class="col-md-4">
            <div class="card form-header">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>
                {{ form_start(form) }}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        {{ 'code'|trans([],'treasury') }}
                                        <span class="text-danger">*</span>
                                    </label>
                                    {{ form_widget(form.code) }}
                                    <span class="text-danger">
                                        {{ form_errors(form.code) }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3 mb-md-2">
                                    <label class="d-block font-weight-semibold"></label>
                                    <div class="form-check form-check-inline form-check-right">
                                        <label class="form-check-label">
                                            {{ 'vault'|trans([],'treasury') }}
                                            {{ form_widget(form.is_main) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                {{ 'account'|trans([],'treasury') }}</label>
                            {{ form_widget(form.account) }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ 'journal'|trans([],'treasury') }}</label>
                            {{ form_widget(form.journal) }}
                        </div>
                        <div class="form-group">
                            <label>
                                {{ 'operator'|trans([],'treasury') }}</label>
                            {{ form_widget(form.operator) }}
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-light" type="reset">
                                {{ 'cancel'|trans([],'base')|upper }}
                            </button>
                            <div>
                                {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
                                <button class="btn btn-primary form-btn" type="submit">
                                    {{ 'save'|trans([],'base')|upper }}
                                    <i class="icon-paperplane ml-2"></i>
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
	</div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('global_assets/js/demo_pages/form_checkboxes_radios.js') }}"></script>
    {% endblock %}
