{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.credit_card'|trans([],'treasury') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'credit_card'|trans([],'treasury') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('journal') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Basic layout-->
            <div class="card border-blue">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>

                <div class="card-body">
                    {{ form_start(form) }}
					<div class="form-group">
                        <label>{{ 'provider'|trans([],'treasury') }} <span class="text-danger">*</span></label>
                        {{ form_widget(form.provider) }}
                        <span class="text-danger">{{ form_errors(form.provider) }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ 'number'|trans([],'treasury') }} <span class="text-danger">*</span></label>
                        {{ form_widget(form.number) }}
                        <span class="text-danger">{{ form_errors(form.number) }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ 'expired_at'|trans([],'treasury') }} <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-calendar3"></i>
                                </span>
                            </span>
                            {{ form_widget(form.expiredAt, {'attr':{'class':"form-control", 'id':"anytime-month-numeric"}}) }}
                            <span class="text-danger">{{ form_errors(form.expiredAt) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'csc'|trans([],'treasury') }} <span class="text-danger">*</span></label>
                        {{ form_widget(form.csc, {'attr':{'placeholder':"csc" , 'class':"form-control"}}) }}
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-light" type="reset">
                            {{ 'cancel'|trans([],'base')|upper }}
                        </button>
                        <div>
                            {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
                            <button class="btn btn-primary form-btn" type="submit">
                                {{ 'save'|trans([],'base')|upper }}
                                <i class="icon-paperplane ml-2"></i>
                            </button>
                        </div>
					</div>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- /basic layout -->
        </div>

        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
