{% extends 'base.html.twig' %}


{% block title %}{{ 'page.title.bank'|trans([],'treasury') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'bank'|trans([],'treasury') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('bank_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- HTML sourced data -->
            <div class="card">

                <table class="table datatable-responsive table-bordered table-striped table-hover">
                    <thead class="bg-blue">
                    <tr>
                        <th>{{ 'code'|trans([],'treasury') }}</th>
                        <th>{{ 'name'|trans([],'treasury') }}</th>
                        <th>{{ 'balance'|trans([],'treasury') }}</th>
                        <th>{{ 'email'|trans([],'treasury') }}</th>
                        <th>{{ 'bank_account'|trans([],'treasury') }}</th>
                        <th>{{ 'ohada_account'|trans([],'treasury') }}</th>
                        <th class="text-center">{{ 'actions'|trans([],'treasury') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bank in banks %}
                        <tr>
                            <td>{{ bank.code }}</td>
                            <td>{{ bank.name }}</td>
                            <td>{{ bank.balance }}</td>
                            <td>{{ bank.email }}</td>
                            <td>{{ bank.accountnumber }}</td>
                            <td>{{ bank.account is empty ? "" : bank.account.number }}</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <a href="{{ path('bank_edit', {id:bank.id}) }}" class="list-icons-item form-icon text-primary-600" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body">
                                        <i class="icon-pencil7"></i>
                                    </a>
                                    <a href="{{ path('bank_delete', {id:bank.id}) }}" class="list-icons-item text-danger-600" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
                                        <i class="icon-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}