{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.credit_card'|trans([],'treasury') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'credit_card'|trans([],'treasury') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('credit_card_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <!-- HTML sourced data -->
            <div class="card border-blue">

                <div class="card-body">
                    <table class="table conrouting table-bordered table-striped table-hover" id="region">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'provider'|trans([],'treasury') }}</th>
                            <th>{{ 'number'|trans([],'treasury') }}</th>
                            <th>{{ 'expired_at'|trans([],'treasury') }}</th>
                            <th>{{ 'csc'|trans([],'treasury') }}</th>
                            <th class="text-center">{{ 'actions'|trans([],'base') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for creditCard in creditCards %}
                            <tr>
                                <td>
                                <td>{{ creditCard.id }}</td>
                                <td>{{ creditCard.provider }}</td>
                                <span class="badge badge-info">{{ creditCard.number }}</td>
                                    <td>{{ creditCard.csc }}</td>
                                        <td>{{ creditCard.expiredAt|date("Y/m/d") }}</td>
										<td class="text-center">
											<div class="list-icons">
												<a href="{{ path('credit_card_edit', {id:creditCard.id}) }}" class="list-icons-item form-icon text-primary-600" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body">
													<i class="icon-pencil7"></i>
												</a>
												<a href="{{ path('credit_card_delete', {id:creditCard.id}) }}" class="list-icons-item text-danger-600" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')">
													<i class="icon-trash"></i>
												</a>
											</div>
										</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /HTML sourced data -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}