{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.user'|trans([],'security') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'user'|trans([],'security') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
	<div class="header-elements d-none">
		<a href="{{ path('user_new') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'new'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<!-- HTML sourced data -->
			<div class="card">
				
				<table class="table datatable-responsive table-bordered table-striped table-hover">
					<thead class="bg-blue">
						<tr>
							<th>{{ 'fullname'|trans([],'security')|upper }}</th>
							<th>{{ 'username'|trans([],'security')|upper }}</th>
							<th>{{ 'email'|trans([],'security')|upper }}</th>
							<th>{{ 'groups'|trans([],'security')|upper }}</th>
							<th>{{ 'branch'|trans([],'security')|upper }}</th>
							<th class="text-center">{{ 'actions'|trans([],'base')|upper }}</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td><span class="badge badge-info">{{ user.fullname }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.email }}</td>
								<td>
									{% if not user.usergroups.empty %}
										{% for usergroup in user.usergroups %}
											<a href="#" class="badge badge-warning">{{ usergroup.name }}</a>
											{% if not loop.last %} {% endif %}
										{% endfor %}
									{% endif %}
								</td>
								<td>{{ user.branch.code }}</td>
								<td class="text-center">
									<div class="list-icons">
										<a href="{{ path('user_edit', {id:user.id}) }}" data-popup="tooltip" title="{{ 'modify'|trans([],'base') }}" data-container="body" class="list-icons-item form-icon text-primary-600">
											<i class="icon-pencil7"></i>
										</a>
										<a href="{{ path('user_delete', {id:user.id}) }}" data-popup="tooltip" title="{{ 'delete'|trans([],'base') }}" data-container="body" onclick="return confirm('{{ 'please_confirm_your_action'|trans([],'base') }}')" class="list-icons-item text-danger-600">
											<i class="icon-trash"></i>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /HTML sourced data -->
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
	<script src="{{ asset('global_assets/js/demo_pages/form_multiselect.js') }}"></script>
{% endblock %}
