{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.update_password'|trans([],'security') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block user %}{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'update_password'|trans([],'security') }}</span></h3>
		<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block main_sidebar_main_navigation %}
    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="accordion" style="color: #233647 !important;">

            <!-- Main -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_profile_update') }}">
                    <i class="icon-user-plus"></i>
                    <span>{{ 'update_profile'|trans([],'base') }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_password_update') }}">
                    <i class="icon-lock2"></i>
                    <span>{{ 'update_password'|trans([],'base') }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('account_setting') }}">
                    <i class="icon-cog5"></i>
                    <span>{{ 'account_setting'|trans([],'base') }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('starTop_logout') }}" class="nav-link">
                    <i class="icon-switch2"></i>
                    <span>{{ 'logout'|trans([],'base') }}</span>
                </a>
            </li>
            <!-- /main -->

        </ul>
    </div>
    <!-- /main navigation -->
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
					<h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
				</div>
				{{ form_start(form) }}
				<div class="card-body">
					<div class="form-group">
						<label>
							{{ 'current_password'|trans([],'security') }} <span class="text-danger">*</span>
						</label>
						{{ form_widget(form.current_password, {'attr':{'placeholder':"current_password" , 'class':"form-control"}}) }}
					</div>
					
					<div class="form-group">
						<label>
							{{ 'new_password'|trans([],'security') }} <span class="text-danger">*</span>
						</label>
						{{ form_widget(form.new_password, {'attr':{'placeholder':"new_password" , 'class':"form-control"}}) }}
					</div>
					<div class="form-group">
						<label>
							{{ 'repeat_password'|trans([],'security') }} <span class="text-danger">*</span>
						</label>
						{{ form_widget(form.repeat_password, {'attr':{'placeholder':"repeat_password" , 'class':"form-control"}}) }}
					</div>
					
					
					<div class="d-flex justify-content-between align-items-center">
						<button class="btn btn-light" type="reset">
							{{ 'cancel'|trans([],'base')|upper }}
						</button>
						<button class="btn btn-primary form-btn" type="submit">
							{{ 'save'|trans([],'base')|upper }}
							<i class="icon-paperplane ml-2"></i>
						</button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
