{% extends 'base.html.twig' %}

{% block title %}{{ 'page.title.articlestock_remove'|trans([],'transit') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_header_content_page_title %}
    <div class="page-title d-flex">
        <h3><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-bold">{{ 'articlestock_remove'|trans([],'transit') }}</span></h3>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block page_header_content_header_elements_button %}
    <div class="header-elements d-none">
        <a href="{{ path('article_list') }}" class="btn btn-labeled btn-labeled-right bg-primary a-btn">{{ 'article_stock'|trans([],'base')|upper }} <b><i class="icon-pin-alt ml-2"></i></b></a>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <!-- Basic layout-->
            <div class="card">
                <div class="card-header bg-ligth text-dark header-elements-inline main-div-header">
                    <h5 class="card-title"><span class="font-weight-bold">{{ 'form'|trans([],'base')|upper }}</span></h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">{{ 'label.quantity'|trans([],'mass') }}:</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.quantity, {'attr':{'class':"form-control"}}) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">{{ 'label.stockAt'|trans([],'mass') }}:</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.stockAt, {'attr':{'class':"form-control", 'id':"anytime-month-numeric"}}) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">{{ 'label.stockprice'|trans([],'mass') }}:</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.stockprice, {'attr':{'class':"form-control"}}) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">{{ 'label.store'|trans([],'mass') }}:</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.store) }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-light" type="reset">
                            {{ 'cancel'|trans([],'base')|upper }}
                        </button>
                        <div>
                            {{ form_widget(form.saveAndCreateNew, {label: 'SAVE AND NEW', attr: {class: ' btn btn-primary form-btn-sn '}}) }}
                            <button class="btn btn-primary form-btn" type="submit">
                                {{ 'save'|trans([],'base')|upper }}
                                <i class="icon-paperplane ml-2"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /basic layout -->
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_select2.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/anytime.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/picker.js') }}"></script>

    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/picker.date.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/picker.time.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/pickers/pickadate/legacy.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/notifications/jgrowl.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/demo_pages/picker_date.js') }}"></script>

    <script src="{{ asset('global_assets/js/demo_pages/form_layouts.js') }}"></script>

{% endblock %}
